* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

.header{
    background-color: black;
    color: white;
    height: 70px;
    display: flex;
}

.menu{

}